.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3%;

    h1 {
      margin-bottom: 20px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      padding: 50px 100px;
      border: 2px solid grey;
      margin-bottom: 20px;
      grid-gap: 10px;
      width: 1000px;

      &__btns {
        width: 30%;
        display: flex;
        justify-content: space-between;
      }
    }

    &__hidden_space {
      opacity: 0.3;
    }
}
