$card-color: #eae7dc;
$btns-color: #d8c3a5;
$border-color: #8e8d8a;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    width: 80%;
    margin-left: 120px;

    h1 {
      margin-bottom: 20px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      grid-gap: 10px;
      background-color: $card-color;

      &__btns {
        position: relative;
        margin-left: 35%;
        margin-top: 30px;
        background: $btns-color;
        width: 30%;
      }
    }

    &__card-person {
      background-color: $card-color;
      margin-bottom: 20px;
      margin-left: 100px;
    }

    &__list-person {
      background-color: $card-color;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 20px;
      margin-left: 83px;
    }

    &__hidden_space {
      opacity: 0.3;
    }
}

.form {
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
  }

  &__add-person {
    padding: 20px 30px;
    border: 1px solid grey;
    border-radius: 5px;
    background: $card-color;
  }
}

.btn {
  background-color: $btns-color;
}

.percon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 238px;
  width: 48%;
  
  .percon-card {
    padding: 8px;
    background-color: $card-color;
    border-radius: 10px;
    border: 1px solid $border-color;
    font-size: 18px;
  }

  &__btn {
    background-color: $card-color;
  }
}
