.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }

    &__form-person {
      display: flex;
      flex-direction: column;
      padding: 50px 100px;
      border: 2px solid grey;
      margin-bottom: 20px;
      grid-gap: 10px;
    }

    &__hidden_space {
      opacity: 0.3;
    }
}
